<table class="striped centered card">
  <thead>
    <tr>
      <th>FROM</th>
      <th>TO</th>
      <th>TYPE</th>
      <th>CATEGORY</th>
      <th>DATE</th>
      <th>MEMO</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <% transactions.forEach(function (transaction) { %>
      <tr>
        <td><%= transaction.from %></td>
        <td><%= transaction.to %></td>
        <td><%= transaction.type %></td>
        <td><%= transaction.category %></td>
        <td><%= transaction.date.toISOString().slice(0,10) %></td>
        <td><%= transaction.memo %></td>
        <td><%= transaction.total.toFixed(2) %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
