<table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp full-width">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">FROM</th>
      <th class="mdl-data-table__cell--non-numeric">TO</th>
      <th class="mdl-data-table__cell--non-numeric">DATE</th>
      <th class="mdl-data-table__cell--non-numeric">MEMO</th>
      <th class="mdl-data-table__cell--non-numeric">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <% transactions.forEach(function (transaction) { 
        if (transaction.type=="transfer") {%>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= transaction.from %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= transaction.to %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= transaction.date.toISOString().slice(0,10) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= transaction.memo %></td>
        <td><%= transaction.total%></td>
      </tr>
    <% }}) %>
  </tbody>
</table>

